In [3]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('../results/assignment4.csv')

In [5]:
pivot_table = df.pivot_table(
    index=['problem', 'method'],
    values=['score'],
    aggfunc=['mean', 'min', 'max']
)
pivot_table

                       mean                         min                     \
                       iter      score      time   iter    score      time
problem method
TSPA    lazy      31459.250  75934.215  0.007119  16849  72583.0  0.003502
        steepest    134.795  73931.815  0.008653    117  71650.0  0.007528
TSPB    lazy      35382.075  50413.265  0.008048  20123  47113.0  0.004500
        steepest    134.355  48389.870  0.008377    118  45986.0  0.007384

                    max
                   iter    score      time
problem method
TSPA    lazy      55821  80915.0  0.013019
        steepest    156  80060.0  0.016900
TSPB    lazy      63284  54506.0  0.015299
        steepest    152  51767.0  0.009583

In [4]:
df

    problem    method    i    score      time   iter
0      TSPA      lazy    0  77664.0  0.007282  26847
1      TSPA      lazy    1  76166.0  0.004298  18409
2      TSPA      lazy    2  75949.0  0.006071  25149
3      TSPA      lazy    3  76268.0  0.005232  22870
4      TSPA      lazy    4  77976.0  0.005824  25984
..      ...       ...  ...      ...       ...    ...
795    TSPB  steepest  195  48953.0  0.008154    129
796    TSPB  steepest  196  50587.0  0.008584    137
797    TSPB  steepest  197  50071.0  0.007431    119
798    TSPB  steepest  198  48622.0  0.008725    141
799    TSPB  steepest  199  48070.0  0.008157    130

[800 rows x 6 columns]